[Unit]
Description=CS:GO server - akl1
After=network.target

[Service]
WorkingDirectory=/home/steam/csgo
User=steam
ExecStart=/home/steam/instances/akl1.sh
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3
Nice=-20
OOMScoreAdjust=-1000
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPriority=99

[Install]
WantedBy=multi-user.target
