[Unit]
Description=CS:GO server - akl3
After=network.target

[Service]
WorkingDirectory=/home/steam/csgo
User=steam
ExecStartPre=/home/steam/Steam/steamcmd.sh +login anonymous +force_install_dir /home/steam/csgo +app_update 740 +quit
ExecStart=/home/steam/instances/akl3.sh
TimeoutStartSec=0
Restart=always
Nice=-20
OOMScoreAdjust=-1000
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPriority=99

[Install]
WantedBy=multi-user.target
